
table, th, td {
    border: 1px solid black;
}

tr.weekend {
    background-color: #A9A9A9;
}

td.weekid {
    text-align: center;
}


td.status {
    width: 10px;
}

td.mystatus {
    background-color: #ce1818;
}
