<html>
<head>
<title>Calendrier de Garde {{this_year}}</title>
<link rel="stylesheet" href="{{css_file}}">
</head>
<body>

<h1 class="title">Calendrier de Garde {{this_year}}</h1>

<div id="legend">
{{html_legend}}
</div>
<div id="calendar">
{{html_calendar}}
</div>
<div id="comments">
{{html_comments}}
</div>
</body>
</html>