
/* Debug */
/*
table, td {
    border: 1px solid black;
} */



/* Aligns rows in tr.year on the top */
tr.year {
    vertical-align: baseline;
}

/* Packs table rows and columns together for a neat rendering. */
table {
    border-collapse: collapse;
}


table.month {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    table-layout: auto;
    width: 130px;
}

/* Margin between months (important: to take into account in table.month's width) */
td.month {
    padding-left: 20px;
}


/* -------------------------------------------------------------------------------- */
/*

Cell width
----------

table.month has a fixed with.

The following settings set the width for the different month table components
as follows:

- the week id columns is x % of the row width,
- all the features combined what's left,
- the day number and day name are the set to a precise width so that it stays
  consistent irrespectively of the cell content (minimum width can vary has
  the font can be non-fixed width).
- colored (empty) cells are 15 px,
- other features width is auto.

*/

td.weekid {
    width: 20px;
}

table.features {
    width: 100%;
}

td.daynum, td.dayname {
    width: 20px;
}

td.coloredcell {
    width: 15px;
}

/* -------------------------------------------------------------------------------- */
/* Borders */

tr.week {
    border: 2px solid black;
}

td.weekid {
    border-right: 2px solid black;
}

/* -------------------------------------------------------------------------------- */
/* Text alignment */

h1.title {
    text-align: center;
}

td.daynum, td.dayname, td.daycust {
    text-align: center;
}

td.weekid {
    text-align: center;
}

/* -------------------------------------------------------------------------------- */
/* Background colors */

tr.weekend {
    background-color: #A9A9A9;
}

td.férié {
    background-color: #FF0000;
}

td.vacancesscolaires {
    background-color: #6495ED;
}

td.courses {
    background-color: orange;
}



/* -------------------------------------------------------------------------------- */
/* Legend */

div#legend {
    padding-top: 20px;
    padding-bottom: 30px;
}

table.legend {
    padding-left: 30px;
    border-collapse: separate;
    border-spacing: 10px 5px;
  }

/* -------------------------------------------------------------------------------- */
/* Comments */

div#comments {
    font-family: Arial, Helvetica, sans-serif;
    font-size:smaller;
    padding-top: 30px
}

