<table class="month">
    <thead>
        <tr class="month_name">
            <th colspan="2">{{month_name}}</th>
        </tr>
    </thead>
    <tbody>
        {% for week in cal.iter_month_weeks(month_id) %}
        {{ format_week(week) }}
        {% endfor %}
    </tbody>
</table>
