<tr class="week">
    <td class="{{master.config.css_class["week_number"]}}">{{week_id}}</td>
    <td class="features">
        <table class="features">
        {% for day in week %}
            <tr class="{{master.format_css_day(day)}}">
            {% for feat in master.features %}
                <td {{ feat.format_attrs(day) }}>{{ feat.format_text(day) }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </td>
</tr>
