<html>
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon"
      type="image/png"
      href="favicon/favicon-32x32.png">
<title>Calendrier de Garde {{this_year}}</title>
<style type="text/css">{% include 'calendar.css' %}</style>
</head>
<body>

<h1 class="title">Calendrier de Garde {{this_year}}</h1>

<div id="legend">
{{html_legend}}
</div>
<div id="calendar">
{{html_calendar}}
</div>
<div id="comments">
{{html_comments}}
</div>
<footer>
    <p><a href="{{pdf_name}}">Télécharger au format pdf</a></p>
</footer>
</body>
</html>
